body{
    overflow-x: hidden;
}



.slider-image{
    height: 550px!important;
    object-fit: cover;
}
.services_icon{
    font-size: 45px;
    color: blueviolet;
}

/*----------------contact-------------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
      flex-basis: 60%;
}
.contact-left p{
   margin-top: 30px;
}
.contact-left p i{
   color: #ff004f;
   margin-right: 15px;
   font-size: 20px;
}
.social-icons{
   margin-top: 30px;
}
.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color: #ababab;
   display: inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color: #7b00ff;
   transform: translateY(-5px);
}


.contact-right vishal{
   width: 100%;
}
form input, form textarea {
   width: 100%;
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin: 15px 0;
   color: #fff;
   font-size: 18px;
   border-radius: 6px;

}

.copyright{
    color: white;
   width: 100%;
   text-align: center;
   padding: 20px 0;
   background: #262626;
   font-weight: 300;
   margin-top: 20px;

}


.servicesDynamic:hover{
    transform: translateY(-5px);
    
  }
 
  .servicesDynamic1{
    padding: 10px;
  }

/* <!------Mobile Screen------> */
 
@media only screen and (max-width: 600px) {
    
    body{
        overflow-x: hidden;
        
    }
    
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
  }
  .servicesDynamic1{
    padding: 10px;
  }
  .servicesDynamic:hover{
    background-color: skyblue;
    color: white;
    
  }
  
    

 
 
   
}